.container {
	width: max-content;
	height: max-content;
	position: relative;
}
.popUp {
}
.topbar {
}
.main {
}
.bottombar {
}
.stageBox {
	padding: 0.8rem;
	width: 12rem;
	height: 14rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	border-radius: 0.5rem;
	background-position: center;
	background-size: cover;
	border: 1px solid #8080805b;
	box-shadow: 0.1rem 0.1rem 0.07rem #8080805b;
	/* background-color: white; */
}
.stageBox > img {
	width: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 3;
}
.stageBox > div {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	bottom: 0;
	padding: 0.4rem;
	width: 100%;
	height: 40%;
	z-index: 4;
	border-bottom: 0.55rem;
	backdrop-filter: blur(3px);
	background-color: rgba(255, 255, 255, 0.541);
}
.stageBox > div > * {
	text-align: center;
}
